@model CatDatingSite.Models.CatProfile

<h2>Rediģēt kaķi</h2>

@using (Html.BeginForm("EditCat", "Cats", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">Cat name:</div>
        <div class="col-md-6">@Html.EditorFor(Model => Model.CatName)</div>
    </div>

    <div class="row">
        <div class="col-md-6">Cat age:</div>
        <div class="col-md-6">@Html.EditorFor(Model => Model.CatAge)</div>
    </div>

    <div class="row">
        <div class="col-md-6">Cat image:</div>
        <div class="col-md-6">@Html.EditorFor(Model => Model.CatImage)</div>
    </div>

    <div class="row">
        <div class="col-md-6">Cat description:</div>
        <div class="col-md-6">@Html.EditorFor(Model => Model.CatDescription)</div>
        <p>@Html.ValidationMessageFor(Model => Model.CatDescription)</p>
    </div>

    <input type="submit" value="Izveidot kaķi" />
}