@model List<CatDatingSite.Models.CatProfile>

<div class="container">
    <div class="row">
        @Html.ActionLink("pievienot jaunu kaķi", "AddCat", "Cats", htmlAttributes: new { @class = "btn btn-info", role = "button" })
    </div>
</div>


<!-- kad vēlamies izsaukt C# kodu, lietojam at simbolu -->
@foreach (var cat in Model)
{
    
        <div class="row">
        <div class="col-md-12">
            
            <h2>Cat name: @cat.CatName</h2>
            <p> Cat age is @cat.CatAge</p>
            <!-- CatsController -> GetCatProfilePicture (catProfilePictureId)
            /Cats/GetCatProfilePicture?catProfilePictureId=5 -->
            @if (cat.ProfilePicture != null)
            {
                <img src="~/Cats/GetCatProfilePicture?catProfilePictureId=@cat.ProfilePicture.CatProfileId" class="img-responsive" />
            }
            <p>
                @cat.CatDescription
            </p>
            <p>
                @Html.ActionLink("Rediģēt kaķi", "EditCat", "Cats", new { editableCatId = cat.CatId }, htmlAttributes: new { @class = "btn btn-info", role = "button" })
                @Html.ActionLink("Nodzēst kaķi", "DeleteCats", "Cats", new { deletableCatId = cat.CatId }, htmlAttributes: new { @class = "btn btn-info", role = "button" })
            </p>
        </div>
    </div>
}
